:root {
    --bg-color: #f0f8ff;
    --text-color: #333;
    --card-bg: #ffffff;
    --primary-btn: #4CAF50; /* Green */
    --font-family: 'Comic Neue', sans-serif;
    --bg-image: none;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}
